beautifulsoup4==4.12.2
blinker==1.8.2
certifi==2023.5.7
charset-normalizer==3.2.0
click==8.1.7
Flask==3.0.3
gunicorn==23.0.0
idna==3.4
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
numpy==2.1.0
packaging==24.1
pandas==2.2.2
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.31.0
six==1.16.0
soupsieve==2.4.1
tzdata==2024.1
urllib3==2.0.3
Werkzeug==3.0.4
